.full-height-container {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-container {
    pointer-events: none;
}